@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    width: 100%;
    overflow-x: hidden;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin: 0;
    background: #fff;
    color: #111827;
  }
}
